@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
    <link rel="stylesheet" href="~/css/estilos1.css" />
</head>
<body>
    <main class="titl">
        POLITICAS DE DEVOLUCIONES
    </main>
    <div class="devo">
        <br />
        El plazo para el cambio o devolución de cualquiera de nuestros productos comprado en tienda online es de 7 días calendario contados desde el primer día que se realiza la entrega del pedido, presentando obligatoriamente el ticket o factura física de la compra y solo lo podrá realizar el titular de la compra mostrando su DNI físico.
        <br />
        Si la solicitud de cambio/devolución se realiza fuera de este periodo o el producto ha sido usado, estropeado o no se entrega con su embalaje original, Runa Store no podrá aceptar el cambio/devolución y no podrá reembolsar el pago según sea el caso. Los cambios/devoluciones de ropa solo se aceptarán si no se ha quitado el etiquetado original. No hay cambio ni devolución de ropa de baños, medias, accesorios, prendas de vestir blancas ni ropas interiores. Para las prendas de vestir solo se aceptarán cambios de talla más no de modelo.
        <br />
        Los artículos pertenecientes a temporadas pasadas (outlet) o que se encuentran en descuento no podrán ser cambiados/devueltos a menos que se encuentren defectuosos. En la descripción de estos productos se menciona esta restricción.


    </div>

</body>
</html>
