@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
    <link rel="stylesheet" href="~/css/estilos1.css" />
</head>
<body>
    <main class="titl">
        SOBRE NOSOTROS
    </main>
    <div class="flex-fill">
        <div class="sobreus">
            Bienvenidos a City Feet, una empresa joven y dinámica dedicada a ofrecer calzado de alta calidad a precios accesibles. Fundada en el año 2023, nuestra empresa nació con el objetivo de llenar un vacío en el mercado del calzado, ofreciendo productos de calidad a precios justos.
            Nuestro equipo está formado por un grupo de profesionales con amplia experiencia en la industria del calzado. Estamos comprometidos en ofrecer productos innovadores y de alta calidad para satisfacer las necesidades de nuestros clientes.

            En City Feet, creemos que el calzado no solo debe ser cómodo y duradero, sino también debe ser asequible y estar a la moda. Es por eso que trabajamos con proveedores y fabricantes de calzado de primera calidad para asegurarnos de que nuestros productos sean de la mejor calidad y estén a la vanguardia de las tendencias actuales.


            Nos enorgullece decir que nuestra misión es brindar a nuestros clientes una experiencia de compra excepcional. Nos esforzamos por ofrecer un servicio al cliente de calidad, rápido y eficiente. Estamos disponibles para responder cualquier pregunta que tengas y para ayudarte en todo lo que necesites.
            En City Feet, nuestra prioridad es la satisfacción de nuestros clientes. Valoramos sus opiniones y comentarios, y estamos comprometidos en mejorar nuestros productos y servicios para cumplir con sus expectativas. Si tienes alguna sugerencia o comentario, no dudes en hacérnoslo saber a través de nuestro formulario de contacto en nuestra página web.

        </div>

    </div>
</body>
</html>
